<!DOCTYPE html>
<html>
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
   
      <title></title>


   </head>
   
<body style="background: #f4f4f4;">
   <div style="max-width:800px; margin:0 auto;font-family:sans-serif">
     <div style="width:100%;float:left;margin-top:10px;background: white;padding: 20px;box-sizing: border-box;">
       <div style="max-width: 770px;margin: 0 auto;font-size:16px;margin-top:10px;">
         <div style="width: 100%; float: left;">
            <h1 style="color: #333; text-align: center; line-height:39px;font-size: 24px;font-weight: bold; margin-top: 0; letter-spacing: 0.5px; margin-bottom: 0;">Hi {{replyto}}</h1>
          </div> 
          
        </div>
        
        <div style="width: 100%; float: left;">
          <p>
            Thank you for contacting.
          </p>
          <p>
             Nirmaljeet Singh will contact you shortly.
          </p>
        </div>
      </div>
   </div>
   
 
 </body>
</html>
